<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/house_icon.svg" width="70" height="70" class="d-inline-block align-top" alt="">
    Mortgage Calculator
  </a>
</nav>



<div class="container"> 
<div class="row">

  <div class="col-md-4">

    <!-- <div class="container">
      <img src="../../assets/house_icon.svg" alt="House" width="200"
        height="200">
    </div> -->




    <div class="form-group">
      <label for="amount">Home Price:</label>
      <input class="form-control" type="number" [(ngModel)]="loan.facevalue"
        step="10000" id="home-price-input"
        (change)="change()">
    </div>

    <div class="form-group">
      <label for="amount">Down payment:</label>
      <input class="form-control" type="number" [(ngModel)]="loan.downpayment"
        id="example-number-input"
        (change)="change()">
    </div>



    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="pwd">Mortgage term:</label>
          <input class="form-control" type="number" [(ngModel)]="loan.t"
            placeholder="Decimal" step="1" min="1"
            id="example-number-input" (change)="change()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pwd">Interest rate:</label>
          <input class="form-control" type="number" [(ngModel)]="loan.r"
            placeholder="Decimal" step="0.1" min="0.1"
            id="interestrate" (change)="change()">
        </div>
      </div>
    </div>

    <div class="results">
      <div class="form-group">
        <label for="amount">Total Mortgage Interest:</label>
        <label class="form-control">${{loan.total_interest_paid|
          number:'1.0':'en-US'}}</label>
      </div>
      <div class="form-group">
        <label for="amount">Total Mortgage Paid:</label>
        <label class="form-control">${{loan.facevalue-loan.downpayment+loan.total_interest_paid|
          number:'1.0':'en-US'}}</label>
      </div>
      <div class="form-group">
        <label for="amount">Monthly rate:</label>
        <label class="form-control">${{loan.rate_monthly| number:'1.0':'en-US'}}</label>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <!-- <div class="card"> -->
      <canvas baseChart
        height="40vh" width="80vw"
        [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    <!-- </div> -->
  </div>


</div>


<h3>Amoritzatrion Schedule</h3>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Year</th>
      <th scope="col">Payment</th>
      <th scope="col">Interest</th>
      <th scope="col">Principal</th>
      <th scope="col">Interest Balance</th>
      <th scope="col">Remaining Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cf of cashflow_table, let i= index">
      <td></td>
      <td>{{ cf.year }} </td>
      <td>${{ cf.rate | number:'1.0':'en-US'}} </td>
      <td>${{ cf.interest | number:'1.0':'en-US'}} </td>
      <td>${{ cf.redemption | number:'1.0':'en-US'}} </td>
      <td>${{ cf.interest_balance | number:'1.0':'en-US'}} </td>
      <td>${{ cf.balance | number:'1.0':'en-US'}} </td>
    </tr>
  </tbody>
</table>


</div>